<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/navbar.ejs') %>
            <div class="container">
                <div class="card" id="form-ask">
                    <div class="card-body">
                        <h5 class="card-title">Plataforma de perguntas e respostas</h5>
                        <p class="card-text">Um projeto criado com Node.JS no curso de Formação Node.js na Udemy.</p>
                        <p class="card-text">Ferramentas utilizadas:</p>
                        <ul>
                            <li>MySQL</li>
                            <li>Express</li>
                            <li>Node.js</li>
                            <li>JavaScript</li>
                            <li>Bootstrap</li>
                            <li>EJS</li>
                        </ul>
                        <a href="https://www.linkedin.com/in/igor-cesar/" class="card-link">LinkedIn</a>
                        <a href="https://github.com/igorcesar-dev" class="card-link">GitHub</a>
                    </div>
                </div>
            </div>
    </body>

    <%- include('./partials/footer.ejs') %>