<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="form-ask">
            <div class="card-header">
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <form action="/salvarpergunta" method="post">
                    <label for="titulo">Título</label>
                    <input type="text" placeholder="titulo" class="form-control" name="titulo">
                    <br>
                    <label for="descricao">Descrição da pergunta</label>
                    <textarea name="descricao" id="pergunta" cols="30" rows="10" placeholder="Descreva sua pergunta aqui"
                        class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('./partials/footer.ejs') %>
